---
layout: default
title: "Posts by category"
---

<div class="profile-section">
  <div class="section-bar">
    <h2>all posts</h2>
    <span class="section-context">
      <a href="{{ site.baseurl }}/posts/">grouped by year</a>
    </span>
  </div>

  {% for category in site.categories %}
  <div class="group">
    <div class="section-bar" style="border-top: 0;">
      <h2 id="{{ category | first }}-ref">{{ category | first }}</h2>
    </div>
    <ul>
      {% for posts in category %}
        {% for post in posts %}
        <li>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          <small>{{ post.date | date: "%B %-d, %Y" }}</small>
        </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>