---
layout: default
title: "All posts"
---

<div class="profile-section">
  <div class="section-bar">
    <h2>all posts</h2>
    <span class="section-context">
      <a href="{{ site.baseurl }}/posts-by-categories/">grouped by category</a>
    </span>
  </div>

  {% for post in site.posts %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

  {% if forloop.first %}
  <div class="group">
    <div class="section-bar" style="border-top: 0;">
      <h2 id="{{ this_year }}-ref">{{ this_year }}</h2>
    </div>
    <ul>
  {% endif %}

      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <small>{{ post.date | date: "%B %-d, %Y" }}</small>
      </li>

  {% if forloop.last %}
    </ul>
  </div>
  {% else %}
    {% if this_year != next_year %}
    </ul>
  </div>
  <div class="group">
    <div class="section-bar" style="border-top: 0;">
      <h2 id="{{ next_year }}-ref">{{ next_year }}</h2>
    </div>
    <ul>
    {% endif %}
  {% endif %}
  {% endfor %}
</div>