<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="blog-page">
      <aside class="sidebar">
        <div class="site-name">shahidh.in</div>
        <nav aria-label="Blog sections">
          <ul>
            <li><a href="{{ site.baseurl }}/">home</a></li>
            <li><a href="{{ site.baseurl }}/blog/">blog</a></li>
            <li><a href="{{ site.baseurl }}/posts/">all posts</a></li>
            <li><a href="{{ site.baseurl }}/posts-by-categories/">categories</a></li>
            <li><a href="{{ site.baseurl }}/search/">search</a></li>
            <li><a href="{{ site.baseurl }}/feed.xml">feed</a></li>
          </ul>
        </nav>
      </aside>
      <main class="main-column">
        {{ content }}
      </main>
    </div>
    {% include footer.html %}
  </body>
</html>